/* Styling for the comment box */
/* *{
    margin: 20px;
    padding: auto;
} */
body{
    background-image: url("image/249.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
textarea {
    margin:20px;
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    resize: vertical; 
    Allows the user to resize the textbox vertically
     } 

/* Button styling */
button {
    padding: 10px 20px;
    margin-right: 10%;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    float: right;
}
/* form{
    overflow: hidden;
} */
button:hover {
    background-color: black;
}
.header{
    size: 40px;
}
nav .Nav{
    display: flex;
}
nav li a{
    margin-right: 20px;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background-color:#0d3a3a ;
}
a:hover{
    background-color: #070736;
}
.Nav li{
    margin-right: 10px;
    list-style: none;  
}
nav li .dropdown{
    display: none;
    position: absolute;
    background-color: aquamarine;
}
nav li:hover .dropdown{
    display: block;
}
